.contact-page {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
  }

  
  .contact-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .columns-contenedor{
    display: flex;
    width: 100%;

    
  }
  .contenedor-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    gap: 30px;

  }
  
  /* FORM */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  
  /* INPUTS */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .form-group textarea {
    min-height: 120px;
    resize: none;
  }
  
  /* BOTON */
  .btn-send {
    padding: 12px;
    border: none;
    background: #f59e0b;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-send:hover {
    background: #d97706;
  }
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }