/* PAGE */
.products-page {
    padding: 60px 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  /* GRID */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
  
  /* CARD */
  .product-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding-bottom: 15px;
  }
  
  .product-card img {
    width: 100%;
  }
  
  .product-card h3 {
    margin: 15px 0 5px;
  }
  
  .product-card p {
    color: #f59e0b;
    font-weight: bold;
  }
  
  /* BOTON */
  .btn-buy {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #f59e0b;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .btn-buy:hover {
    background: #d97706;
  }
  
  /* HOVER CARD */
  .product-card:hover {
    transform: translateY(-5px);
  }